In [3]:
a=int(input("Enter 1st number : "))
b=int(input("Enter 2nd number : "))
c=a + b
print("The sum is " + str(c))

The sum is 60

printing a word

# Multiple line

In [16]:
print ("Hai")

Hai

In [17]:
a=(input("Enter a word : "))
b=a[::-1]
if a==b:
    print ("The word you entered is palindrom")
else :
    print ("It is not palindrome")

The word you entered is palindrom

In [18]:
a=20
b=30
print("First value is ", a)
print ("The number {} is second".format(b))
print("The value of first number is {a} and the second number is {b}".format(b="50",a="40")) #\ to print in next line

First value is  20
The number 30 is second
The value of first number is 40 and the second number is 50

string indexing

In [19]:
a="Good morning"
b="Have a nice day"
print (a+" "+b)
a.split()

Good morning Have a nice day

['Good', 'morning']

while loop

In [20]:
a=1
while a<5:
    print (a)
    a=a+1

1
2
3
4

List

In [30]:
a=[10,20,30]
b=[50,60,70]
c=a+b
print(c)
c.append(90)
print(c)
c[2]=40
print(c)
c.remove(50)
print(c)
a.extend(b)
print(a)
c.reverse()
print(c)
c.sort()
print(c)
c.sort(reverse=True)
print(c)
print(c.count(20))
print("Malappuram".count("M"))

[10, 20, 30, 50, 60, 70]
[10, 20, 30, 50, 60, 70, 90]
[10, 20, 40, 50, 60, 70, 90]
[10, 20, 40, 60, 70, 90]
[10, 20, 30, 50, 60, 70]
[90, 70, 60, 40, 20, 10]
[10, 20, 40, 60, 70, 90]
[90, 70, 60, 40, 20, 10]
1
1

In [35]:
a=["Welcome to", "SSB", "Malappuram"]
print(" ".join(a))
print(" ".join(a))

Welcome to SSB Malappuram
Welcome to SSB Malappuram

In [37]:
a=("Welcome to SSB malappuram")
print(a.capitalize())
print(a.lower())
print(a.upper())
print(a.swapcase())

Welcome to ssb malappuram
welcome to ssb malappuram
WELCOME TO SSB MALAPPURAM
wELCOME TO ssb MALAPPURAM

In [50]:
a=25.5
a=float(a)
print(a)
a=int(a)
print(a)
a=float(a)
print(a)
a=int(False)
print(a)
a=int(True)
print(a)
a=bool("Hi")
print(a)
a=bool("")
print(a)
b=24.5
print(bool(a))

25.5
25
25.0
0
1
True
False
False

In [52]:
def add():
    a=10
    b=20
    print(a+b)
add()

30

In [59]:
def word(a):
    print("HI "*a)
word(5)

HI HI HI HI HI

In [7]:
def addn(a,b):
    c=a+b
    print("Sum =",c)
def sub(a,b):
    d=a-b
    print("Substraction = ",d)
a=int(input("1st Number : "))
b=int(input("2nd Number: "))
addn(a,b)
sub(a,b)

Sum = 63
Substraction =  17

In [16]:
a=int(input("number "))
for i in range (1,11):
    print(a," * ",i," =", a*i)

10  *  1  = 10
10  *  2  = 20
10  *  3  = 30
10  *  4  = 40
10  *  5  = 50
10  *  6  = 60
10  *  7  = 70
10  *  8  = 80
10  *  9  = 90
10  *  10  = 100

In [17]:
with open("Simp.txt", "w") as a:
    a.write("Hi")

In [2]:
with open("Simp.txt", "r") as a:  #can copy file path and paste it in open("path....")
    data=a.read()
print(data)

Hi

In [12]:
import os
file_names = os.listdir("D:\\Tech\\Rasiq")
print(file_names)
os.mkdir("Data")
os.rename("Simp.txt", "Data.txt")

['Alarm.bat', 'Calc.py', 'Parrot-security-6.3.2_amd64.iso', 'Python.py', 'shutdown.py', 'Star.py', 'Test.py']

In [13]:
import datetime
print(datetime.datetime.now())

2025-04-22 13:29:05.594946

In [15]:
import os
file_names=os.listdir("C:\\Users\\nashe\\Downloads")
for file_names in file_names:
    if ".pdf" in file_names:
        print (file_names)

0-387-30808-3_3.pdf
1 KTU Curriculum 2024- V 22_LTM_240307_192712.pdf
1-s2.0-S0032591021009207-main.pdf
1-s2.0-S0048969721047537-main.pdf
1-s2.0-S2214799323000206-main.pdf
1.pdf
1._B._Tech_Academic_Calender__S2_S4_S6_S8_Jan_24-Jun_24_v3.pdf
10.1016@j.cep.2005.04.005.pdf
10.1515_ntrev-2018-0076.pdf
1114.pdf
12-6-182-370.pdf
1570106_2025-Perinthalmanna Murder.pdf
1570108_2025-Edavann PV Anvar press release.pdf
1723-1726.pdf
19 SPMR=====NR 18 GR 200 ( ALERT ).tif (1 page).pdf
1STYEARSYLLABUS_KTU_GROUPC-181-186.pdf
1STYEARSYLLABUS_KTU_GROUPC.pdf
2-Engineering-Properties-1-40.pdf
2. B.Tech Second Year Syllabus - 2020 Scheme.pdf
2015-Dr Radhai Sri- Manufacturing and Evaluation of Formulated Nutraceutical.pdf
202230_prod_MFGE303970_202230_50104.pdf
2024 scheme food chemistry S2.pdf
20240507_135939 (1).pdf
2050_SE_S1_Vegetable-Seed-Treatments.pdf
2193-8865-3-67.pdf
219_2023_a.pdf
2_ Chapter 2_1 (Dairy products and analogues).pdf
3. B.Tech Third Year Syllabus - 2020 Scheme.pdf
3220.pdf
342206684coefficient of friction.pdf
3rdM.techpaper.pdf
4. B.Tech. Fourth Year  Syllabus - 2020 Scheme.pdf
5.Art.RecubrimientoUvaRedGlobeTBHjun2020.pdf
60 SPMR NR 26 GR 100 (ALERT).pdf
643e5c0524346539Determination_of_Water_Activity_in_Food__4_-2.pdf
6IqX2wQT3UWLm_R5IZ_20250402183729..pdf
8_Art_Sandulachi_E_Water.pdf
939.pdf
989-1737676800.pdf
A Density-Gradient Column for Determining the Specific Gravity of Fish egg.pdf
A7.pdf
AbhirupMitraandGenithaImmanuel1.pdf
Adhoc College Union Executive Committee.pdf
Adobe Scan Dec 27, 2023.pdf
Advanced applications of hyperspectral imaging technology for food quality and.pdf
AdvancesinGradingofFruits.pdf
Aerodynamics for Engineering Students (Seventh Edition).pdf
Agriculture Engineering.pdf
AGRON-4111.pdf
agronomy-08-00248.pdf
AICERA 2025 - Brochure.pdf
Akbar.pdf
Annexure III Declaration form.pdf
Annexure V Statement of question paper scrutiny.pdf
Annexure-IV Checklist.pdf
Annexure-VI Statement of password.pdf
antioxidants-10-01630-v2.pdf
application of chitosan based apple peel PP edible coating on preservation of strawberry fruit (1).pdf
application of chitosan based apple peel PP edible coating on preservation of strawberry fruit.pdf
Application of Nanoparticles in Food Preservation and Food Processing.pdf
Applications of food extrusion technology.pdf
Assign Teachers List.pdf
Assignment 1 EPFM.pdf
Assignment 1.pdf
Assignment 1EPFM.pdf
Attachment1 - 2024-03-31T104940.006.pdf
Attachment2 - 2024-03-31T104851.403.pdf
Attachment2 - 2024-03-31T125918.758.pdf
Attendance Defaulters.pdf
Attendance_details_of_Fakrudheen_Ali.pdf
Attendance_report_subject-wise_jan13-31.pdf
B. Tech First Year Syllabus- 2020- Upload in Website.pdf
B. Tech Regulations_ 2024.pdf
B. Tech_2024_1st Year Syllabus_Group-D (1).pdf
b.tech s1 publish new (1).pdf
B.Tech-(food-technology)-syllabus.pdf
B.Tech-updated-syllabus-1.pdf niftem k.pdf
B.TechAcademicCalender_S3_S5_S7July24-Dec24andandS4_S6_S8.pdf
B.TechS4may2024-Approved.pdf
Basic aspects of food preservation by hurdle technology in food.pdf
BasicPrinciplesofCropProduction.pdf
Beige Pastel Minimalist Thesis Defense Presentation_20240402_111758_0000.pdf
Biaxial & coaxial Chapter 4.pdf
Bioconversion_of_barley_straw_and_corn_s.pdf
biosynthesis of metaalic nanoparticle using plant derivatives.pdf
Booking Confirmation Voucher.pdf
brochure PHM course.pdf
browning reactions in food.pdf
c5ra19388e.pdf
cassava starch chitosan edible coating on tomato (1).pdf
cassava starch chitosan edible coating on tomato.pdf
catalog quote 639 REv illahiya 25.pdf
cdd590abc409d6f7b7b905329bacbd071d33.pdf
Chandrasekaran microwave processing review.pdf
cheng2018-23-25.pdf
cheng2018.pdf
Chitkara FDP Najma K .pdf
choi2010.pdf
CMS-Communicative-English-Magazine.pdf
CO PO mapping FT 2019 scheme.pdf
College_Calendar_24-25_Even Sem .pdf
College_Calendar_S2_24-25_Even Sem-2.pdf
Compendium_Food_Additives_Regulations_08_09_2020-compressed.pdf
CONTROLLED ATMOSPHERE STORAGE AND EDIBLE coating on shelf life of tomato.pdf
coursewiseReport (Generated on 11_11_2024 09_17 PM) (1).pdf
coursewiseReport (Generated on 11_11_2024 09_17 PM) (2).pdf
CreatingNewFoodsCh5.pdf
CXG_013e.pdf
Decalaration form.pdf
Default Parent Passwords -FT 2022.pdf
Department Duties_2024-25.pdf
Department wise PTA meeting.pdf
DeterminationofViscosityofSemi-solidbyUsingBrookfieldViscometer.pdf
Development and characterization of edible films based on eggplant….pdf
Development of a rice incorporated synbiotic yogurt with low retrogradation properties.pdf
Development of Aloe vera based edible coating for tomato.pdf
Dielectric_Properties_of_Foods.pdf
DL Najma CIFT visit.pdf
DL Najma.pdf
DOC-20240313-WA0016..pdf
DOC-20240403-WA0005..pdf
DOC-20240528-WA0000..pdf
DOC-20241213-WA0041..pdf
DocScanner 31-Mar-2024 8-45 pm.pdf
DocScanner Mar 16, 2024 2-57 PM.pdf
Document 070524.pdf (1).pdf
Document 070524.pdf.pdf
DONA ROY-COE-UNIVERSITY OF ADELAIDE.pdf
Dr. R. Sindhu AICTE CONNECT Document - TKMIT KERALA.pdf
Draft_Regulation_on_Microbiological_standards_milk_and_milk_products_31_08_2015.pdf
DS42_P_43.pdf
Duty List 1 May 2024.pdf
Ebook-Mohsenin-physical properties (1).pdf
Edible composite bi-layer coating based on whey protein isolate, xanthan.pdf
effect of apple peel based edible coating material on physico chemical properties of button mushroom (1).pdf
effect of apple peel based edible coating material on physico chemical properties of button mushroom.pdf
EJCHEM_Volume 66_Issue 13_Pages 401-416.pdf
Election.pdf
Engineering Properties of Agricultural Produce.pdf
Engineering Properties of Foods.pdf
Engineering-Properties-of-Biological-Materials-and-Food-Quality agrimoon.pdf
epfm manual.pdf
EPFM QB.pdf
Eqv_1942024.pdf
Evaluation of Food Quality and Safety with Hyperspectral.pdf
ewkm_training_2_session_4_points.pdf
Extra hour allocation.pdf
Extrusion Cooking Technology for Foods A Review.pdf
Extrusion Processing Technology.pdf
FC Module 1.pdf
FCL EXTERNAL QP.pdf
fermentation-08-00445-v2.pdf
fermentation-09-00274.pdf
fermentation-09-00920.pdf
file (1).pdf
Final draft newsletter.pdf
final project report pancake.pdf
final thesis.pdf
finalised OE list FTT415.pdf
First series exam TT S3 September 2024 (1).pdf
First series exam TT S5 September 2024.pdf
First series exam TT S7 September 2024.pdf
First series retest S3 October 2024.pdf
First series retest S5 October 2024.pdf
fmicb-08-01501.pdf
fmicb-11-581997.pdf
fmicb-13-991856.pdf
fnut-08-657090.pdf
Food Frontiers - 2021 - Jagtiani - Advancements in nanotechnology for food science and industry.pdf
food laws mcq NTA.pdf
Food processing by high hydrostatic pressure.pdf
Food Processing Technology_ Principles and Practice.pdf
Food product development   ( PDFDrive ).pdf
food product development and marketing pyq.pdf
FOOD TECHNOLOGY (1).pdf
FOOD TECHNOLOGY CURRICULUM_2019 SCHEME.pdf
Food Technology.pdf
Food Texture and Viscosity_ Concept and Measurement (A Volume in the Food Science and Technology International Series) (Food Science and Technology) ( PDFDrive ).pdf
food-science-and-technology.pdf
Food-Science.pdf
foods-11-03548-v3.pdf
foods-12-01949.pdf
foods-12-03823.pdf
Food_Catalog.pdf
food_process_engineering_and_technology-262-274.pdf
Format of Mark list - Ext Lab exam 17.04.pdf
frdA040321A14071146_FirstRanker.com (1).pdf
frdA040321A14071146_FirstRanker.com.pdf
FRUITS_AND_VEGETABLE (1).pdf
FRUITS_AND_VEGETABLE.pdf
fssai Manual_Milk_25_05_2016(1).pdf
FSSAI_News_Fatty_Josh_08_01_2021.pdf
FT 2019 scheme syllabus.pdf
FT Lab equipments.pdf
FT.pdf
FTT 204 EPFM module 3 & 4.pdf
FTT 205 Module 2.pdf
FTT204 - ENGINEERING PROPERTIES OF FOOD MATERIALS - 1.pdf
FTT204-DRAFT  SCHEME.pdf
FTT204-QP (1).pdf
FTT204-QP (3).pdf
FTT204-QP.pdf
FTT205-QP (1).pdf
FTT205-QP.pdf
FTT205-SCHEME (1).pdf
FTT205-SCHEME.pdf
FTT281-QP.pdf
FTT322 - FOOD PRODUCT DESIGN AND DEVELOPMENT - 1.pdf
FTT433 module 2.pdf
FTT433-QP.pdf
FT_2022-_Roll_List.pdf
FT_2024-_Roll_List S2.pdf
FT_2024-_Roll_List.pdf
Future of Nanotechnology in Food Industry Challenges-synthesis of NP.pdf
Gate Scorecard.pdf
gebrechristos2020.pdf
general-aptitude.pdf
girotto2015.pdf
Gmail - Fwd_ Urgent Pending valuation --Follow up required.pdf
Good Irradiation Practices in food processing.pdf
GPF - Monthly Sub.(701)Statement_902823.pdf
Grain_composition_of_Virginia_winter_bar.pdf
green_smoothie_(1)[1].pdf
Grey minimalist business project presentation _20240417_102653_0000.pdf
Group 3.pdf
GROUP_7_PROJECT_INTERIM[1] [Autosaved].pdf
Guidelines for Academic Research.pdf
guidelines_for_food_testing_lab_scheme_dated_08.06.2022_0.pdf
HalagardaTPJ2008 (1).pdf
HalagardaTPJ2008.pdf
Handbook of Membrane Separations_ Chemical, Pharmaceutical, Food, and Biotechnological Applications ( PDFDrive ).pdf
HiCET FDP Certificate-.pdf
HiCET FDP Certificate-pages-54.pdf
High fiber, low glycaemic index (GI) prebiotic multigrain functional beverage from barnyard millet.pdf
Hiring- Food Technology Content Creator.pdf
Home Science (Eng) Ch-3.pdf
HT_3_Grp_hallticket.pdf
Hurdle technology A novel approach for enhanced food quality and.pdf
Hyperspectral imaging an emerging process analytical tool for food quality and safety.pdf
ICAR-CIPHET, RS Short course Brochure.pdf
IGNTU-eContent-671502066626-B.Sc-EnvironmentalSciences-2-PallaviDas-EnvironmentalPollutionandHumanHealth-3.pdf
ijerph-07-04179.pdf
IJG-TEAM_PROFILE.pdf
ijms-21-08458.pdf
IJRPR1132.pdf
IJSRMSR1textandfigs.pdf
IMAGE PROCESSING TECHNOLOGY IN FOOD.pdf
Influence_of_Polysaccharide_Based_Edible.pdf
Instructions to students Jan 2024.pdf
Interactive Food Magazine Template.pdf
INVIGILATION DUTY NOV-DEC 2024 (1).pdf
Irradiation of Food Current Legislation Framework .pdf
Jackfruit Seed as a Natural Source for Protein and Mineral enrichment of yogurt.pdf
Jackfruit Seeds Protein Isolate by Spray Drying method functional and physico chemical characteristics.pdf
jashs-article-p927.pdf
JET-008-008-ASHOK-DEVELOPMENT.pdf
JFPP-08-22-1945_Proof_hi.pdf
Journal of Food Quality - 2017 - Ruelas-Chacon - Guar Gum as an Edible Coating for Enhancing Shelf‐Life and Improving.pdf
JPAM_Vol_10_No4_p_2633-2639.pdf
justinpackiajacob2012.pdf
KAU APC Application NAJMA .pdf
kau_kcaet_apc_recruitment_notification-karmasandhan.pdf
KTU-EX-VII(13).pdf
KTU_B.TechAcademicCalendar_S1andS2_2024-25.pdf
KTU_Student_MoocCourseRegistration_NASSCOM_Student_Help.pdf
Lab system.pdf
Lecture plan.pdf
LectureNo6 (1).pdf
LectureNo6.pdf
Letter_1567896_2025-542.pdf
Letter_4065736_2024-995.pdf
Letter_4065758_2024-467.pdf
Letter_4077366_2024-171.pdf
Letter_4077372_2024-770.pdf
Letter_F1(a)-9924_2025_MM-615.pdf
local news SSB MPM 03-04-25.pdf
Local News ssb mpm.pdf
loth2008.pdf
Magazine 2022.pdf nirmala college of pharmacy.pdf
Magazine content (1).pdf
Magazine content.pdf
main prjct report G16 fina;l.pdf
MCAFEE RENUEVAL.pdf
MCC FTL 202.pdf
measurement of  Specific Heat.pdf
Member Approved - AFSTI - ammudilip@gmail.com - Gmail.pdf
Membrane Technology_ A Practical Guide to Membrane Technology and Applications in Food and Bioprocessing (Butterworth-Heinemann IChemE)   ( PDFDrive ) (1).pdf
Membrane Technology_ A Practical Guide to Membrane Technology and Applications in Food and Bioprocessing (Butterworth-Heinemann IChemE)   ( PDFDrive ).pdf
mengqi2021.pdf
Methods_to_Measure_Water_Activity.pdf
Microalgae and wastewater treatment.pdf
Microbial Inactivation by Pulsed electric field.pdf
Microwave Heating Applications in Food Processing.pdf
Microwave Heating in Food Processing.pdf
Microwave heating.pdf
microwave processing of food and biological material.pdf
microwave-for-food-processing.pdf
Midhuna Kurian NIFTEM T (1).pdf
Midhuna Kurian NIFTEM T.pdf
MilkAura Quiz 2024.pdf
MILK_AND_MILK_PRODUCTS.pdf
mini project (1).pdf
Minor chosen by students of FT 2022 for IVth Semester.pdf
MJFDS_Volume 5_Issue 6_Pages 79-90 (1).pdf
MJFDS_Volume 5_Issue 6_Pages 79-90.pdf
Model_droplet_formation_in_extensional_filament_st.pdf
Module 2 IFT.pdf
module 4.pdf
Moisture_Content_ocr.pdf
molecules-26-04004-v2.pdf
molecules-28-04527.pdf
molecules-28-06390.pdf
molecules-29-02055-v2.pdf
MORNING ZATA REPORT 03-04-25.pdf
msc-food-technology_syllabus_goa university-snack food technology.pdf
NAJMA K resume .pdf
Najma K.pdf
najma pg certificate.pdf
najma sslc certificate.pdf
Nano3.pdf
Nanofiltration_BookPublished.pdf
Neethu Confirmation letter.pdf
New doc 22 Mar 2023 1.15 pm.pdf
New doc 23 Mar 2023 11.00 am.pdf
New doc 24 May 2022 10.50 am.pdf
New doc 24 May 2022 12.24 pm.pdf
Newsletter Ajce May 2024.pdf
NEWSLTER 20 21 FINAL (1).pdf
NEWSLTER 20 21 FINAL.pdf
Nollet.Toldra.bk1.water.activity.08.pdf
non teaching_merged.pdf
non_thermal_processing_of_food_ft_369_2020_december (1).pdf
non_thermal_processing_of_food_ft_369_2020_december (2).pdf
non_thermal_processing_of_food_ft_369_2020_december (3).pdf
non_thermal_processing_of_food_ft_369_2020_december.pdf
NPS indv Contribtn-State(390)Statement_902823.pdf
NR 176 GR 75.pdf
nss notice.pdf
NstuJournalpaper.pdf
NTP.pdf
obi2016.pdf
Occurrence, genotoxicity, and carcinogenicity of regulated and.pdf
offer letter Lincoln.pdf
OFFER LETTER- MARIYAM AJI.pdf
offer letter.pdf
Offer_Aiswarya_Vinish.pdf
Offer_Amal_JOSE (5).pdf
Office duty 2024.pdf
OMF SEMINAR 1.pdf
Overview_on_Methods_of_Synthesis_of_Nano.pdf
p31_merged.pdf
Pancard (1).pdf
Pancard.pdf
Passbook.pdf
PASSPORT(25).pdf
paul2018.pdf
pce 6.pdf
PCE M4.pdf
PCE M5.pdf
pdf&rendition=1.pdf
Pearl Acceptance  (1).pdf
Pearl Acceptance .pdf
Performance_Analysis_of_Distributed_Compressed_Air.pdf
Perinthalmanna PS -Regarding the murder occured at Alipparambu (1).pdf
Perinthalmanna PS -Regarding the murder occured at Alipparambu.pdf
Ph.D. Research Regulations 2023.pdf
pharma-freezedryingofginger.pdf
Physico-Chemical, Mechanical and Morphological properties of biodegradable film based on arrowroot starch and polyvinyl alcohol.pdf
polymers-14-03462 (1).pdf
polymers-14-03462.pdf
polysaccharides-02-00024.pdf
polysaccharides-02-00045.pdf
polysaccharides-03-00014.pdf
POOJA PRASAD (1).pdf
POOJA PRASAD.pdf
PoojaPrasad.pdf
Porosity.pdf
porosityastm.pdf
Post-Doctoral Regulations.pdf
potentia-15-3.pdf
potentia-15.pdf
PPT-CLASSSIFICATION-OF-FOOD.pdf
PreparationandCharacterizationofWheyProteinEdibleCoatingwith (1) (1).pdf
PreparationandCharacterizationofWheyProteinEdibleCoatingwith (1).pdf
Presentation-1 Instruction.pdf
Presentation2.pdf
Principles of Extrusion.pdf
processes-08-00826.pdf
processes-11-00020.pdf
processes-11-00840-v2.pdf
product design and development pyq.pdf
Production_of_butanol_a_biofuel_from_agr.pdf
Project Guide Allocation 2021-25.pdf
Project Internal Examination schedule.pdf
properties of food.pdf
Properties of Water.pdf
protecting.pdf
PROTEIN.pdf
PST-ePrint-443-Final.v1.pdf
Pulsed Electric Fields (PEF) for Permeabilization of Cell.pdf
PulsedElectricFieldsforfood.pdf
Pulsed_Electric_Fields_PEF_for_Permeabilization_of (1).pdf
Pulsed_Electric_Fields_PEF_for_Permeabilization_of.pdf
QP check list set 1 (1).pdf
QP check list set 1.pdf
QP checklist set 2.pdf
QP FPLD series 1.pdf
QP-FTT204.pdf
Question_paper (1).pdf
Question_paper (2).pdf
Question_paper.pdf
Radiation in food processing.pdf
RadiationProcessingforFoodPreservation.pdf.pdf
rd_scheme_guidelines-26-06-2023-final_1.pdf
Recent advances in the extraction of bioactive compounds with subcritical water A.pdf
Recent development in application of image processing technique.pdf
Recent development, challenges, and prospects of extrusion technology.pdf
Regarding PV Anvar press meet at Edavanna on ADGP Ajith Kumar (1).pdf
Regarding PV Anvar press meet at Edavanna on ADGP Ajith Kumar.pdf
Report on Edakkara chitty company.pdf
Report on jaundice in kuttippuram.pdf
Report on Malappuram GIO district conference.pdf
Report on Nilambur political party involving in private road dispute between familees .pdf
ResourceConservationTechnologiesinCropProduction (1).pdf
ResourceConservationTechnologiesinCropProduction.pdf
resources-09-00053-v2.pdf
Result Application of HPP in Food processing (1).pdf
Result Application of HPP in Food processing.pdf
Result MCQ-Introduction to food chemistry.pdf
Result NEW PRODUCT DEVELOPMENT.pdf
Resume_ Shalini V.pdf
Retest exam TT S4.pdf
Review of Optical Properties of Fruits and Vegetables 01-25-2019.pdf
Rheology of Fluid, Semisolid, and Solid Foods_ Principles and Applications ( PDFDrive ).pdf
RMIT.pdf
rohini_32329842437.pdf
rohini_55026362551.pdf
rohini_93857565476.pdf
rohini_97615741290.pdf
rohini_97656316841.pdf
Roll list 12.07.24.pdf
roy-et-al-2023-a-review-on-the-challenges-and-choices-for-food-waste-valorization-environmental-and-economic-impacts.pdf
s00253-019-09863-3.pdf
s00449-024-03044-x.pdf
S004565352102693X.pdf
S0166526X21000143.pdf
S1 INTERNAL LAB EXAM SCHEDULE DEC 2024.pdf
s10924-023-02793-2.pdf
s11947-012-0806-9.pdf
s11947-017-1983-3.pdf
s11947-019-02318-7.pdf
s11947-023-03071-8.pdf
s12393-020-09262-9.pdf
s13197-012-0718-8.pdf
S1_GDFTL106_Foundations of Food Technology Lab.pdf
S2 GROUP D.pdf
S3 FCL SCHEDULE.pdf
S3-S8 FT- SYLLABUS.pdf
S4 attendance.pdf
S4%20Internals%20&%20Attendance.pdf.pdf
s40508-014-0022-1.pdf
s41545-020-0057-7.pdf
s43247-022-00543-1.pdf
s44187-024-00138-z.pdf
S5 timetable.pdf
S7 FTT433 module 1.pdf
S8 FTT402 FPLD.pdf
sampaio2020.pdf
sayi69_Bucketelevator_2015.pdf
Schedule_23 July.pdf
Second series exam Rescheduled TT S5 October 2024.pdf
Second series exam Rescheduled TT S7 October 2024.pdf
Second series Minor & Honours October 2024 (1).pdf
Second series Minor & Honours October 2024.pdf
Semester 5 Internal Lab Exam Schedule (November 2024).pdf
SEMESTER END ACADEMIC SCHEDULE.pdf
Seminar.pdf
Series 2 Exam Report_.pdf
Series Exam Report S1 FT.pdf
Series Exam Report_.pdf
Series Lab exam schedule S5.pdf
Skarma.pdf
SOP_Labs.pdf
SRM non thermal QP.pdf
sslc compressed .pdf
ssrn-1418204.pdf
ssrn-1670498.pdf
Staff Default Passwords.pdf
Student Exam Eligibility (Generated on 24_12_2024 07_23 AM).pdf
Student Examination Eligibility Report (Generated on 11_11_2024 09_04 PM).pdf
Student Examination Eligibility Report (Generated on 14_11_2024 06_53 AM).pdf
Student Examination Eligibility Report (Generated on 14_11_2024 06_55 AM).pdf
Subject allocation for syllabus preparation.pdf
Sugaralcohol.pdf
surface-properties-of-foods.pdf
Survey Result-NAJMA K.pdf
sustainability-13-09294.pdf
sustainability-15-06153.pdf
Syllabus_B.Tech.(FoodTech) icar syllabus.18.pdf
Synthesis of Nanoparticles by Green Synthesis Method[#673126]-926440.pdf
TabelleAlimenti (1).pdf
TabelleAlimenti (2).pdf
TabelleAlimenti.pdf
TADA_ Format 050818 - Blank (1).pdf
Technical Magazine 2020.pdf
The current application of nanotechnology in food.pdf
THE DEVELOPMENT AND ANALYSIS OF INSTANT RICE PORRIDGE.pdf
The potential of chitin and chitosan from dead black soldier fly (BSF) for biodegradable packaging material.pdf
the-role-of-consumer-influences-in-the-new-product-development-of-packaged-food-and-beverage-ventures.pdf
TheRoleOfKnowledgeManagementInProductDevelopmentPerformance-AReview.pdf
THEROLESOFENZYMEINFOODPROCESSING-ANOVERVIEW.pdf
The_Food_Chemistry_Laboratory_A_Manual_f.pdf
Time Table-Ist Semester-FT 2024.pdf
TNTPF - S2022 [3151408] [GTURanker.com].pdf
TOPICE NOSE AND E TONGUE (1).pdf
TOPICE NOSE AND E TONGUE.pdf
UC OFFERLETTER.pdf
UCG-NET-December 2024.pdf
UGExaminationCalendar2024-2025.pdf
UltrafiltrationanditsApplicationinFoodProcessingTheoryandPractical.pdf
Unit Operations of Agricultural Processing ( PDFDrive ).pdf
unit-operations-of-chemical-engineering-5th-ed-mccabe-and-smith.pdf
Unit2_methods for moisture.pdf
Use of Nanoparticles in the Food Industry.pdf
USPotatoResearch.pdf
UV PL.pdf
Valorization of biological waste from insect-based food industry assesment of chitin and chitosan potential.pdf
Vidya viva ppt.pdf
Vidyadhin'24_Report.pdf
vijayakumar2013.pdf
VimlaSinghetal.IJCMAS.pdf
ViscoelasticityLoki2019.pdf
voter Id reduced (1).pdf
voter Id reduced.pdf
water-08-00130.pdf
Water_Structure_and_Properties.pdf
wepik-analyzing-transient-thermal-conductivity-unsteady-state-method-20240401101553XKk4.pdf
Wet-vs-Dry-Basis-Moisture-Relationships.pdf
wigginton2012.pdf
XL24S67214089_ScoreCard.pdf
XL24S67222162_ScoreCard.pdf

In [16]:
import pandas as pd
data = pd.read_csv("Test_file.csv")
data

     Name Class Office  Rank
0    Nash     A   kadn     3
1     dsd     F   dfsa     4
2    sjfn     w   dfnj     5
3  osaijd     r   sdfu     9
4  sdfgjk     f   iohe     6

In [20]:
import pandas as pd
data=pd.read_csv("students_data.csv")
data
data.describe()

       Marks_Math  Marks_Science  Marks_English  Attendance
count   50.000000      50.000000      50.000000   50.000000
mean    72.840000      70.120000      67.760000   72.740000
std     17.917452      16.030125      15.871371   15.045251
min     40.000000      41.000000      40.000000   51.000000
25%     59.250000      57.250000      58.000000   60.000000
50%     76.000000      73.000000      63.500000   72.000000
75%     87.000000      83.750000      80.250000   86.250000
max    100.000000      95.000000     100.000000  100.000000

In [ ]:
date=pd.read_excel("students_data.xlsx")
data
data.head()

,Name,Marks_Math,Marks_Science,Marks_English,Date_of_Birth,Attendance
0,Debbie Diaz,62,45,58,2006-06-25,76
1,Brenda Robinson,65,71,41,2009-04-14,88
2,Gregory Morgan,77,46,54,2010-10-29,78
3,David Brown,100,58,78,2010-06-11,74
4,Lindsey Taylor,49,50,58,2012-10-03,67
5,Shannon Rodriguez,79,76,75,2012-05-14,51
6,John Caldwell,44,58,76,2013-03-07,87
7,Ashley Pena,77,55,67,2011-09-22,52
8,Ian Mendez,79,80,58,2013-04-08,94
9,Charles Grant,68,59,91,2006-11-14,70

In [25]:
data[["Name","Attendance"]].to_excel("Students_Attendance.xlsx")

In [ ]:
data[["Attendance", "Name"]].to_excel("Students_Attendance.xlsx")

In [27]:
data.columns.tolist()

['Name',
 'Marks_Math',
 'Marks_Science',
 'Marks_English',
 'Date_of_Birth',
 'Attendance']

In [32]:
data["Attendance"].value_counts()

Attendance
52     5
77     4
84     3
87     3
60     3
66     3
56     2
64     2
55     2
67     1
70     1
51     1
74     1
78     1
76     1
88     1
99     1
68     1
93     1
100    1
94     1
90     1
96     1
71     1
53     1
80     1
69     1
73     1
92     1
58     1
97     1
91     1
Name: count, dtype: int64

In [34]:
data[data["Attendance"]>=90]

,Name,Marks_Math,Marks_Science,Marks_English,Date_of_Birth,Attendance
8,Ian Mendez,79,80,58,2013-04-08,94
12,Raymond Evans,99,54,44,2011-09-11,100
13,Charles Clark,87,65,81,2009-11-02,93
16,Diana Hurley,79,51,48,2013-02-04,99
17,Evan Owens,46,49,62,2008-01-04,96
22,Keith Smith,63,51,99,2008-12-29,90
37,Stephen Walters,74,86,64,2013-02-16,92
42,Michael Garza,75,79,59,2012-09-19,97
47,Wendy Hubbard,53,77,78,2007-09-02,91

In [42]:
with pd.ExcelWriter("students_data.xlsx") as writer:
    data.describe().to_excel(writer, sheet_name="Attendance")
    data.sort_values(by="Marks_Math", ascending=False).to_excel(writer, sheet_name="Maths marks")

In [46]:
data.drop(["Attendance", "Marks_Math"], axis=1)

                    Name  Marks_Science  Marks_English Date_of_Birth
0            Debbie Diaz             45             58    2006-06-25
1        Brenda Robinson             71             41    2009-04-14
2         Gregory Morgan             46             54    2010-10-29
3            David Brown             58             78    2010-06-11
4         Lindsey Taylor             50             58    2012-10-03
5      Shannon Rodriguez             76             75    2012-05-14
6          John Caldwell             58             76    2013-03-07
7            Ashley Pena             55             67    2011-09-22
8             Ian Mendez             80             58    2013-04-08
9          Charles Grant             59             91    2006-11-14
10         Douglas Lewis             92             86    2009-12-10
11       Patrick Fleming             89            100    2008-03-27
12         Raymond Evans             54             44    2011-09-11
13         Charles Clark             65             81    2009-11-02
14       Vanessa Johnson             95             59    2011-12-28
15          Dustin Rojas             67             41    2014-01-27
16          Diana Hurley             51             48    2013-02-04
17            Evan Owens             49             62    2008-01-04
18        Dylan Robinson             79             76    2015-03-07
19          Laura Barker             93             66    2014-09-11
20           Sarah Young             95             86    2009-11-09
21          Michael Gray             80             85    2006-11-29
22           Keith Smith             51             99    2008-12-29
23     Rebekah Thomas MD             83             56    2013-12-16
24          Brian Parker             85             69    2008-12-21
25       Donald Espinoza             81             58    2014-03-13
26  Jillian Williams DVM             41             88    2010-01-30
27            Mary Smith             75             60    2014-09-23
28         William Greer             75             61    2012-06-13
29         April Johnson             87             58    2012-10-15
30    Heather Richardson             57             55    2009-01-21
31          Kelly Jordan             75             60    2012-12-08
32            Renee Hart             94             97    2015-03-01
33          Brenda Clark             61             66    2011-02-05
34          Erica Horton             46             55    2013-03-13
35        Mitchell Evans             77             46    2013-07-29
36           Jack Hughes             67             81    2014-12-25
37       Stephen Walters             86             64    2013-02-16
38          Angel Garcia             64             57    2006-12-13
39           Jason Young             88             67    2011-03-06
40         Jared Salazar             50             98    2012-06-29
41      Richard Bradford             84             63    2012-08-22
42         Michael Garza             79             59    2012-09-19
43          Brian Miller             85             62    2011-09-05
44    Madison Livingston             48             78    2007-10-14
45           David Davis             94             83    2011-08-26
46     Jessica Nicholson             63             59    2009-12-10
47         Wendy Hubbard             77             78    2007-09-02
48            Tyler Diaz             65             40    2015-04-11
49      Michelle Watkins             61             81    2013-11-29

In [2]:
import os
import pandas as pd
file_path=os.path.join("data", "students_data.xlsx")
data=pd.read_excel(file_path)
data

FileNotFoundError: [Errno 2] No such file or directory: 'data\\students_data.xlsx'

In [37]:
data.iloc[:5,2:9]

   Marks_Science  Marks_English Date_of_Birth  Attendance
0             45             58    2006-06-25          76
1             71             41    2009-04-14          88
2             46             54    2010-10-29          78
3             58             78    2010-06-11          74
4             50             58    2012-10-03          67